<div class="card mb-3">
	{% for item in figure.images %}
		{% if item.main %}
			<a href="{{path("figure_show", {'slug': figure.slug}) }}">
				<img src="\images\main\{{item.name}}" class="img-thumbnail" alt="image de la figure">
			</a>
		{% endif %}
	{% endfor %}

	<div class="card-footer">
		<div class="row">
			<div class="col-8 text-truncate" style="max-width: 120px;">
				<a href="{{path("figure_show", {'slug': figure.slug}) }}">{{figure.name}}</a>
			</div>
			{% if app.user %}
				<div class="col-2">
					<a href="{{path("figure_edit", {'slug': figure.slug}) }}">
						<i class="fas fa-pencil-alt"></i>
					</a>
				</div>
				<div class="col-2">
					<a href="{{path("figure_delete", {'slug': figure.slug}) }}">
						<i class="fas fa-trash-alt"></i>
					</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>
